.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.ul {
  margin: 0;
}

.ul li a {
  text-decoration: none;
}

.title {
  margin: 0;
  font-size: 2.2rem;
}

.date {
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0;
  text-decoration: underline;
  margin-bottom: 0.6rem;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .date {
    font-size: 0.9rem;
  }
  .subtitle {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }
}
